.divVacio{
    height: 40vh;
}

.vacio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-family: "Roboto Condensed";
    font-weight: 1000;
    letter-spacing: 4px;
}

.botonFin{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border:none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.842);
    color:#fff;
    font-size: medium;
    height:7vh;
    width: 14vw;
    transition: all .5s ease;
}

.botonFin a{
    text-decoration: none;
    color:inherit;
}

.botonFin:hover{
    background-color:rgb(51, 86, 51);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.315);
    letter-spacing: 1px;
    transition: all .5s ease;
}

.seguirComprando {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.botonSeguir {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 7vh;
    width: 15vw;
    border-color: rgba(0, 0, 0, 0.185);
    border-radius: 3px;
    background-color: rgba(75, 75, 75, 0.048);
    color: rgba(0, 0, 0, 0.842);
    cursor: pointer;
    font-size: larger;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .5s ease;
}


.botonSeguir:hover {
    transform:scale(0.97);
    transition: all .5s ease;
    background-color: rgba(255, 255, 255, 0.048);
}

.botonSeguir:active{
    transition: all .1s ease;
    background-color: rgba(255, 255, 255, 0.356);
}

#dark .botonSeguir{
    color:#fff;
    border-color: rgba(255, 255, 255, 0.11);
}

.detallesCart{
    text-align: center;
}

.divBotonesCart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 7rem;
    padding-top: 3rem;
}

.seguirComprando2 {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.842);
}

#dark .seguirComprando2{
    color:#fff;
}

.vaciarCart {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 7vh;
    width: 15vw;
    border-color: rgba(0, 0, 0, 0.185);
    border-radius: 3px;
    background-color: rgba(75, 75, 75, 0.048);
    color: rgba(0, 0, 0, 0.842);
    cursor: pointer;
    font-size: larger;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .5s ease;

}

.vaciarCart:hover {
    background-color: rgba(190, 53, 53, 0.582);
    transform:scale(0.97);
    transition: all .5s ease;
}

#dark .vaciarCart{
    color:#fff;
    border-color: rgba(255, 255, 255, 0.11);
}

.precioFinal {
    font-family: "Roboto Condensed";
    font-size: xx-large;
    font-weight: 1000;
    letter-spacing: 4px;
}

.cantidadTotal{
    margin-top: 5rem;
    font-size: larger;
    letter-spacing: 3.6px;
}