.contenedorItem {
    text-align: justify;
    padding-bottom: 5rem;
}

.contenedorItem h2, h3{
    text-align: center;
    font-size: xx-large;
    font-family: "Roboto Condensed", serif;
}

.imgprod {
    width: 25vw;
    border: 1px solid #e3e1e1;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.description {
    font-size:x-large;
    font-family: "Roboto Condensed", serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left:22rem;
    padding-right:22rem;
}

.finalizarCompra {
    padding:2rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.botonFinalizar{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border:none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.842);
    color:#fff;
    font-size: larger;
    height:7vh;
    width: 25vw;
    transition: all .5s ease;
}

.botonFinalizar a{
    text-decoration: none;
    color:inherit;
}

.botonFinalizar:hover{
    background-color:rgb(51, 86, 51);
    transition: all .5s ease;
}