.saludo {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 4rem;
}

#dark .saludo{
    color: rgb(255, 255, 255);
}