.h2Checkout {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    font-family: "Roboto Condensed";
    font-weight: 1000;
    letter-spacing: 5px;
    font-size: xx-large;
}

label {
    display: block;
    padding-top: 1rem;
    margin-bottom: 5px;
    font-family: "Roboto Condensed";
    letter-spacing: 1px;
    font-size: larger;
}

input {
    width: 40%;
    padding: 5px;
    padding-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Roboto Condensed";
    font-size: large;
    background-color: rgb(255, 255, 255);
    border:none;
}

#dark input{
    background-color: rgba(255, 255, 255, 0.075);
}
.botonFinalizarCheckout{
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 6rem;
    width: 40.6%;
    height:7vh;
    border-radius: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border:none;
    background-color: rgba(0, 0, 0, 0.842);
    color:#fff;
    transition: all .5s ease;
}

.botonFinalizarCheckout:hover{
    transition: all .5s ease;
    letter-spacing: 5px;
    background-color: rgb(0, 255, 0);
    color:rgb(26, 24, 24);
}

.formManejador{
    margin-left: 3rem;
}