

header {
    font-family: "Roboto Condensed", serif;
    font-weight: 900;
    border-bottom: 5px solid rgb(0, 255, 0);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.977) 0% 50%, rgb(192, 235, 186));
    color: rgb(53, 51, 51);
    padding-left: 1rem;
    padding-right: 3rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 180px;
}

h1 {
    margin:1rem;
    font-family: "Zen Dots", sans-serif;
}

.navbarList {
    margin-right: 1rem;
}

.objectList {
    display: inline-block;
    margin: 1rem;
    cursor:pointer;
    font-size:large;
    transition: transform 0.2s ease;
}
.objectList:hover {
    transform: scale(1.2);
    color: rgba(90, 90, 90, 0.969);
    font-weight: bold; 
    transition: all .5s ease;
}

#dark header {
    background: linear-gradient(135deg, rgba(20, 18, 41, 0.814) 0% 65%, rgba(72, 69, 143, 0.88));
    color: rgba(237, 237, 237, 0.878);
    text-shadow: none;
    border-bottom: 5px solid rgba(0, 255, 0, 0.438);
}

#dark .objectList:hover{
    color: rgba(196, 217, 191, 0.969);
    transition: all .5s ease;
}

.nav-link {
    text-decoration: none; 
    color: inherit; 
}

.nav-link:hover, .nav-link:focus {
    transition: all .5s ease;
}

