
#light {
  background: linear-gradient(180deg, rgb(229, 250, 226) 0% 65%, rgba(243, 248, 185, 0.637));
  min-height: 100vh;
  height: 100%;
  color: black;
}


#dark {
  background: linear-gradient(180deg, rgba(10, 8, 36, 0.814) 0% 65%, rgba(14, 9, 110, 0.88));
  min-height: 100vh;
  height: 100%;
  color: white;
}

.switch {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
  gap: .5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
