#light .cardProducto {
    background-color: #cee2d1d8;
    box-shadow: 13px 13px 40px -21px rgba(40,67,125,.75);
    width: 15rem;
    margin: 1rem;

}

#dark .cardProducto  {
    background-color: rgba(35, 33, 61, 0.612);
    box-shadow: 13px 13px 40px -21px rgba(0, 0, 0, 0.491);
    color: rgba(237, 237, 237, 0.878);
    width: 15rem;
    margin: 1rem;
}




.contenedorProductos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding:2rem;
}