#light .cardProducto {
    background-color: #cee2d1d8;
    box-shadow: 2px 2px 2px rgba(17, 57, 20, 0.289);
    border-radius: 10px 95px 30px 115px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#dark .cardProducto  {
    background-color: rgba(35, 33, 61, 0.612);
    box-shadow: 2px 2px 8px rgba(233, 233, 233, 0.491);
    color: rgb(232, 254, 234);
    border-radius: 10px 95px 30px 115px;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}

#light .link {
    background-color: #2b6a308a;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
}

#dark .link {
    background-color:rgba(31, 13, 83, 0.65);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    color: inherit;
}

.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    padding:2rem;
}